body {
  background-color: #ffffff;
  font-family: 'Cairo', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

div.graph {
  margin: auto;
  max-width: 1440px;
}

#addPayment, #rmPayment, #plotPaymets {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.input-interface {
  display: none;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.page-header {
  font-size: 20px;
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.templates {
  visibility: hidden;
}

.no-padding {
  padding: 0;
}

.float-left {
  float: left;
}

.padding-left {
  padding-left: 15px;
}

.thicc {
  height: 250px;
}
