body {
  background-color: #ffffff;
  font-family: 'Cairo', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

div.graph {
  margin: auto;
  max-width: 1440px;
}

#addPayment, #plotPaymets {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.page-header {
  font-size: 20px;
  text-align: center;
}

.templates {
  visibility: hidden;
}
